.venv/
data/
multi_filter_plots/
single_filter_plots/
final_plots/

# Python scripts to ignore
extra_code.py
final_plot_code.py
lime_plot.py
multi_filter_code.py


# IntelliJ / PyCharm
.idea/
*.iml

# Python build artifacts
__pycache__/