.venv/
data/
multi_filter_plots/
single_filter_plots/
extra_code.py/
narrow_component_code.py/
final_plot_code.py/
limit_calc.py/
lime_plot.py/
multi_filter_code.py/

# IntelliJ
.idea/
**.iml

# Python build artifacts
_pycache_/